body {
    overflow: auto;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif !important;
}
.background {
    position: fixed;
    opacity: 0.03;
    transform: translateX(-50vw) translateY(-50vw) rotate(-12deg);
    width: 200vw;
    height: 200vh;
    background: url('./img/near_logo.png');
    background-size: 200px;
    z-index: -1;
}
.container-custom {
    margin: 12px 0;
    max-width: 640px !important;
    width: 100%;
}
.container-alert {
    position: fixed;
    top: 32px; left: 0;
    z-index: 2000;
    width: 100%;
}
.alert {
    box-shadow: 0 0 16px white, 0 0 32px white;
}
#accountName {
    text-transform: lowercase;
}
textarea {
    width: 100% !important;
    max-width: 400px !important;
    height: 100px !important;
}
button {
    background: white !important;
}
button:active, button:focus, button:hover {
    color: white !important;
    background: #0d6efd !important;
}
button:active > img, button:focus > img, button:hover > img {
    filter: brightness(1000);
}
a {
    text-decoration: none !important;
}

.position-yt {
    position: relative;
    z-index: 1000;
}
.wrap-yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-9999px);
    max-width: 640px;
}
.size-yt {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
#player-yt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stocking {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 16px;
    cursor: pointer;
}
.mini-stocking {
    width: 64px;
}

.wrap-stocking {
    position: relative;
    background: none;
    text-align: center;
}

.stocking-cta {
    font-size: 1.5em;
    position: absolute;
    top: -30px;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
}

.sub-note {
    margin-top: -16px;
    font-size: 0.75rem;
    color: #888;
}

.tweet-button {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.tweet-icon {
    width: 32px;
}

.ml-3 {
    margin-left: 16px;
}

.pulse {
    transform: scale(1);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}